.welcome, .info, .quote, .call, .footer {
    display: flex;
    padding:15px 150px 80px 150px;
    margin: 30px 0 60px 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.welcome {
    flex-direction: column;
}

.welcome, .footer {
    background-color: #1F2937;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    color: #F9FAF8;
    font-weight: 900px;
    font-size: 48px;
}

a, .hero_second {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    margin: 0 15px 0 15px;
}

.container {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.container, button {
    background-color: #3882F6;
}

.call {
    justify-content: center;
    align-items: center;
}